@{
    Layout = "OuterHackathonLayout.cshtml";
}

@Html.Sitecore().Placeholder("content-header")
    <div class="wrap">
        @Html.Sitecore().Placeholder("content-body")
    </div>
@Html.Sitecore().Placeholder("content-footer")