<div class="row p-4 section">
    <!-- 8x4 -->
    <div class="col-12 col-sm-6">
        @Html.Sitecore().DynamicPlaceholder("content-6x6-left")
    </div>
    <div class="col-12 col-sm-6">
        @Html.Sitecore().DynamicPlaceholder("content-6x6-right")
    </div>
</div>