<div class="row p-4 section">
    <!-- 8x4 -->
    <div class="col-12 col-sm-8">
        @Html.Sitecore().DynamicPlaceholder("content-8x4-left")
    </div>
    <div class="col-12 col-sm-4">
        @Html.Sitecore().DynamicPlaceholder("content-8x4-right")
    </div>
</div>